.App {
  text-align: center;
}

body {
  background-color: #2F3544;
}

.input-group {
  width: 60%;
}

.card {
  max-width: 60%;
}

.card-title {
  position: absolute;
  padding: 20px;
}

.card-date{
  position: absolute;
  padding-left: 20px;
  margint-top: 60px;
}

.card-temp{
  position:absolute;
  padding-left: 20px;
  margin-top:260px;
  font-size: 50px;
}

.card-description{
  position:absolute;
  padding-left:20px;
  margin-top:320px;
}